/* Sharing style - no structure */

/* Structure style - following heirchery */
.pollCard {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    height: 100%;
    padding: 1rem;
}

.pollCard__left {
    width: 20%;
}

.pollCard__right {
    width: 80%;
}