/* Sharing style - no structure */
.pollbutton {
    border: 0;
    color: white;
    padding: 10px 40px;
    max-width: 150px;
}

.yesbutton {
    background-color: #001246;
}

.nobutton {
    background-color: #ffca05;
}

/* Structure style - following heirchery */
.poll {
    /* display: flex;
    justify-content: space-between; */
    /* width: 100%; */
    align-items: center;
}

.poll__buttons {
    display: flex;
    flex-direction: column;
}

.poll__chart {
    /* max-width: 400px; */
    max-width: 800px;
}