/* Sharing style - no structure */
.pollbutton {
    border: 0;
    color: white;
    padding: 10px 40px;
    /* max-width: 200px; */
}

.yesbutton {
    background-color: #001246;
}

.nobutton {
    background-color: #ffca05;
}

/* Structure style - following heirchery */
.poll__body {
    align-items: center;
}

.poll__header {
    margin: 5vh 0;
}

.poll__header__date {

    text-align: right;
}


.poll__body__card {
    padding: 3rem;
}

.poll__buttons {
    justify-content: center;
}